<div style="margin-bottom: 50px;" id="lido-tree-view-wrapper">
	<h2>Tree view</h2>
	<h3>Below the LIDO XML structure can be explored in a hierarchical view. Please note that this view starts at the administrative and descriptive metadata level. The LIDO root element must still be specified. </h3>
	<style>
		/* Remove default bullets */
		ul,
		#lido-tree-view {
		list-style-type: none;
		}
		/* Remove margins and padding from the parent ul */
		#lido-tree-view {
		margin: 0;
		padding: 0;
		}
		#lido-tree-view ul{
		margin-right: 10px;
		margin-bottom: 20px;
		margin-top: 10px;
		}
		#lido-tree-view li{
		margin-left: 10px;
		margin-bottom: 5px;
		}
		#lido-tree-view span{
		margin-left: 25px;
		}
		/* Style the caret/arrow */
		.caret {
		cursor: pointer;
		user-select: none;
		/* Prevent text selection */
		}
		/* Create the caret/arrow with a unicode, and style it */
		.caret::before {
		content: "\25B6";
		color: black;
		display: inline-block;
		margin-right: 10px;
		}
		/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
		.caret-down::before {
		transform: rotate(90deg);
		}
		/* Hide the nested list */
		.nested {
		display: none;
		}
		/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
		.active {
		display: block;
		}
		/* Class for elements which cannot be expanded */
		#lido-tree-view .ground {
			margin-left: 50px;
		}
		#tree-view-buttons {
			margin-bottom: 10px;
		}
		.tree-view-button {
			margin-right: 10px;
		}
	</style>
	<div id="lido-tree-view-container" style="">
		<div id="tree-view-buttons">
			<a onclick="expandAllTreeElements();return false;" href="" class="tree-view-button">Expand all</a>
			<a onclick="collapseAllTreeElements();return false;" href="" class="tree-view-button">Collapse all</a>
		</div>
		<ul id="lido-tree-view">
			<li>
                <span class="caret"><a href="#descriptiveMetadata">descriptiveMetadata</a></span>
                <ul class="nested">
                    <li>
                        <span class="caret"><a href="#objectClassificationWrap">objectClassifiactionWrap</a></span>
                        <ul class="nested">
                            <li>
                                <span class="caret"><a href="#objectWorkTypeWrap">objectWorkTypeWrap</a></span>
                                <ul class="nested">
                                    <li>
                                        <span class="caret"><a href="#objectWorkType">objectWorkType</a></span>
                                        <ul class="nested">
                                            <li>
                                                <span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
                                            </li>
											<li>
                                                <span class="ground"><a href="#conceptID">conceptID</a></span>
                                            </li>
											<li>
												<span class="ground"><a href="#term">term</a></span>
											</li>
                                        </ul>
                                    </li>
                                 </ul>
                            <li>
                                <span class="caret"><a href="#classificationWrap">classificationWrap</a></span>
                                <ul class="nested">
                                    <li>
                                        <span class="caret"><a href="#classification">classification</a></span>
                                        <ul class="nested">
                                            <li>
                                                <span class="ground"><a href="#https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
                                            </li>
											<li>
                                                <span class="ground"><a href="#conceptID">conceptID</a></span>
                                            </li>
											<li>
												<span class="ground"><a href="#term">term</a></span>
											</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            </li>
                        </ul>
                    </li>
					<li>
						<span class="caret"><a href="#objectIdentificationWrap">objectIdentificationWrap</a></span>
						<ul class="nested">
							<li>
								<span class="caret"><a href="#titleWrap">titleWrap</a></span>
								<ul class="nested">
									<li>
										<span class="caret"><a href="#titleSet">titleSet</a></span>
										<ul class="nested">
											<li>
											<span class="ground"><a href="#appellationValue">appellationValue</a></span>
											</li>
											<li>
											<span class="ground"><a href="#sourceAppellation">sourceAppellation</a></span>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<span class="caret"><a href="#inscriptionsWrap">inscriptionsWrap</a></span>
								<ul class="nested">
									<li>
										<span class="caret"><a href="#inscriptions">inscriptions</a></span>
										<ul class="nested">
											<li>
												<span class="ground"><a href="#inscriptionTranscription">inscriptionTranscription</a></span>
											</li>
											<li>
												<span class="caret"><a href="#inscriptionDescription">inscriptionDescription</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="#descriptiveNoteID">descriptiveNoteID</a></span>
													</li>
													<li>
														<span class="ground"><a href="#descriptiveNoteValue">descriptiveNoteValue</a></span>
													</li>
													<li>
														<span class="ground"><a href="#sourceDescriptiveNote">sourceDescriptiveNote</a></span>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<span class="caret"><a href="#repositoryWrap">repositoryWrap</a></span>
								<ul class="nested">	
									<li>
										<span class="caret"><a href="#repositorySet">repositorySet</a></span>
										<ul class="nested">
											<li>
												<span class="ground"><a href="#displayRepository">displayRepository</a></span>
											</li>
											<li>
												<span class="caret"><a href="#repositoryName">repositoryName</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="#legalBodyID">legalBodyID</a></span>
													</li>
													<li>
														<span class="ground"><a href="https://www.w3.org/TR/owl-ref/#sameAs-def">owl:sameAs</a></span>
													</li>
													<li>
														<span class="caret"><a href="legalBodyName">legalBodyName</a></span>
														<ul class="nested">
															<li>
															<span class="ground"><a href="#appellationValue">appellationValue</a></span>
															</li>
															<li>
															<span class="ground"><a href="#sourceAppellation">sourceAppellation</a></span>
															</li>
														</ul>
													</li>
													<li>
														<span class="ground"><a href="#legalBodyWeblink">legalBodyWeblink</a></span>
													</li>
												</ul>
													<li>
														<span class="ground"><a href="#workID">workID</a></span>
													</li>
											</li>
											<li>
												<span class="caret"><a href="#repositoryLocation">repositoryLocation</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="#placeID">placeID</a></span>
													</li>
													<li>
														<span class="ground"><a href="https://www.w3.org/TR/owl-ref/#sameAs-def">owl:sameAs</a></span>
													</li>
													<li>
														<span class="caret"><a href="#namePlaceSet">namePlaceSet</a></span>
														<ul class="nested">
															<li>
																<span class="ground"><a href="#appellationValue">appellationValue</a></span>
															</li>
															<li>
																<span class="ground"><a href="#sourceAppellation">sourceAppellation</a></span>
															</li>
														</ul>
													</li>
													<li>
														<span class="caret"><a href="#gml">gml</a></span>
														<ul class="nested">
															<li>
																<span class="ground"><a href="http://www.datypic.com/sc/niem21/e-gml_Point.html">gml:Point</a></span>
															</li>
															<li>
																<span class="ground"><a href="http://www.datypic.com/sc/niem21/e-gml_LineString.html">gml:LineString</a></span>
															</li>
															<li>
																<span class="ground"><a href="http://www.datypic.com/sc/niem21/e-gml_Polygon.html">gml:Polygon</a></span>
															</li>
														</ul>
													</li>
													<li>
														<span class="caret"><a href="#partOfPlace">partOfPlace</a></span>
														<ul class="nested">
															<li>
																<span class="ground"><a href="#partofPlace">partOfPlace</a></span>
															</li>
															<li>
																<span class="ground">This element is constructed recursive. It can contain itself</span>
															</li>
														</ul>
													</li>
													<li>
														<span class="caret"><a href="#placeClassification">placeClassification</a></span>
														<ul class="nested">
															<li>
																<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
															</li>
															<li>
																<span class="ground"><a href="#conceptID">conceptID</a></span>
															</li>
															<li>
																<span class="ground"><a href="#term">term</a></span>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li>
												<span class="ground"><a href="#sourceRepositorySet">sourceRepositorySet</a></span>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<span class="caret"><a href="#displayStateEditionWrap">displayStateEditionWrap</a></span>
								<ul class="nested">
									<li>
										<span class="ground"><a href="#displayState">displayState</a></span>
									</li>
									<li>
										<span class="ground"><a href="#displayEdition">displayEdition</a></span>
									</li>
									<li>
									<span class="ground"><a href="#sourceStateEdition">sourceStateEdition</a></span>
									</li>
								</ul>
							</li>
							<li>
								<span class="caret"><a href="#objectDescriptionWrap">objectDescriptionWrap</a></span>
								<ul class="nested">
									<li>
										<span class="caret"><a href="objectDescriptionSet">objectDescriptionSet</a></span>
										<ul class="nested">
											<li>
												<span class="ground"><a href="#descriptiveNoteID">descriptiveNoteID</a></span>
											</li>
											<li>
												<span class="ground"><a href="#descriptiveNoteValue">descriptiveNoteValue</a></span>
											</li>
											<li>
												<span class="ground"><a href="#sourceDescriptiveNote">sourceDescriptiveNote</a></span>
											</li>
											<li>
												<span class="caret"><a href="#objectDescriptionRights">objectDescriptionRights</a></span>
												<ul class="nested">
													<li>
														<span class="caret"><a href="#rightsType">rightsType</a></span>
														<ul class="nested">
															<li>
																<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
															</li>
															<li>
																<span class="ground"><a href="#conceptID">conceptID</a></span>
															</li>
															<li>
																<span class="ground"><a href="#term">term</a></span>
															</li>
														</ul>                                            
													</li>
													<li>
														<span class="caret"><a href="#rightsDate">rightsDate</a></span>
														<ul class="nested">
															<li>
																<span class="caret"><a href="#earliestDate">earliestDate</a></span>
															</li>
															<li>
																<span class="caret"><a href="#latestDate">latestDate</a></span>
															</li>                                                
														</ul>
													</li>
													<li>
														<span class="caret"><a href="#rightsHolder">rightsHolder</a></span>
														<ul class="nested">
															<li>
																<span class="ground"><a href="#legalBodyID">legalBodyID</a></span>
															</li>
															<li>
																<span class="ground"><a href="https://www.w3.org/TR/owl-ref/#sameAs-def">owl:sameAs</a></span>
															</li>
															<li>
																<span class="caret"><a href="#legalBodyName">legalBodyName</a></span>
																<ul class="nested">
																	<li>
																		<span class="ground"><a href="#appellationValue">appellationValue</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="#sourceAppellation">sourceAppellation</a></span>
																	</li>
																</ul>
															</li>
															<li>
																<span class="ground"><a href="#legalBodyWeblink">legalBodyWeblink</a></span>
															</li>
														</ul>
													</li>
													<li>
														<span class="ground"><a href="#creditLine">creditLine</a></span>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<span class="caret"><a href="#objectMeasurementsWrap">objectMeasurementsWrap</a></span>
								<ul class="nested">
									<li>
										<span class="caret"><a href="#objectMeasurementsSet">objectMeasurementsSet</a></span>
										<ul class="nested">
											<li>
												<span class="ground"><a href="#displayObjectMeasurements">displayObjectMeasurements</a></span>
											</li>
											<li>
												<span class="caret"><a href="#objectMeasurements">objectMeasurements</a></span>
												<ul class="nested">
												<li>
													<span class="caret"><a href="#measurementsSet">measurementsSet</a></span>
													<ul class="nested">
														<li>
															<span class="caret"><a href="#measurementType">measurementType</a></span>
															<ul class="nested">
																<li>
																	<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																</li>
																<li>
																	<span class="ground"><a href="#conceptID">conceptID</a></span>
																</li>
																<li>
																	<span class="ground"><a href="#term">term</a></span>
																</li>
															</ul>
														</li>
														<li>
															<span class="caret"><a href="#measurementUnit">measurementUnit</a></span>
															<ul class="nested">
																<li>
																	<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																</li>
																<li>
																	<span class="ground"><a href="#conceptID">conceptID</a></span>
																</li>
																<li>
																	<span class="ground"><a href="#term">term</a></span>
																</li>
															</ul>
														</li>
														<li>
															<span class="ground"><a href="#measurementValue">measurementValue</a></span>
														</li>
													</ul>
												</li>
												</ul>
												<li>
													<span class="caret"><a href="#extentMeasurements">extentMeasurements</a></span>
													<ul class="nested">
														<li>
															<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
														</li>
														<li>
															<span class="ground"><a href="#conceptID">conceptID</a></span>
														</li>
														<li>
															<span class="ground"><a href="#term">term</a></span>
														</li>
													</ul>
												</li>
												<li>
													<span class="caret"><a href="#qualifierMeasurements">qualifierMeasurements</a></span>
													<ul class="nested">
														<li>
															<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
														</li>
														<li>
															<span class="ground"><a href="#conceptID">conceptID</a></span>
														</li>
														<li>
															<span class="ground"><a href="#term">term</a></span>
														</li>
													</ul>
												</li>
												<li>
													<span class="caret"><a href="#formatMeasurements">formatMeasurements</a></span>
													<ul class="nested">
														<li>
															<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
														</li>
														<li>
															<span class="ground"><a href="#conceptID">conceptID</a></span>
														</li>
														<li>
															<span class="ground"><a href="#term">term</a></span>
														</li>
													</ul>
												</li>
												<li>
													<span class="caret"><a href="#shapetMeasurements">shapeMeasurements</a></span>
													<ul class="nested">
														<li>
															<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
														</li>
														<li>
															<span class="ground"><a href="#conceptID">conceptID</a></span>
														</li>
														<li>
															<span class="ground"><a href="#term">term</a></span>
														</li>
													</ul>
												</li>
												<li>
													<span class="caret"><a href="#scaleMeasurements">scaleMeasurements</a></span>
													<ul class="nested">
														<li>
															<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
														</li>
														<li>
															<span class="ground"><a href="#conceptID">conceptID</a></span>
														</li>
														<li>
															<span class="ground"><a href="#term">term</a></span>
														</li>
													</ul>
												</li>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<span class="caret"><a href="#objectMaterialsTechWrap">objectMaterialsTechWrap</a></span>
								<ul class="nested">
									<li>
										<span class="caret"><a href="#objectMaterialsTechSet">objectMaterialsTechSet</a></span>
										<ul class="nested">
											<li>
												<span class="ground"><a href="#displayMaterialsTech">displayMaterialsTech</a></span>
											</li>
											<li>
												<span class="caret"><a href="#materialsTech">materialsTech</a></span>
												<ul class="nested">
													<li>
														<span class="caret"><a href="#termMaterialsTech">termMaterialsTech</a></span>
														<ul class="nested">
															<li>
																<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
															</li>
															<li>
																<span class="ground"><a href="#conceptID">conceptID</a></span>
															</li>
															<li>
																<span class="ground"><a href="#term">term</a></span>
															</li>
														</ul>
													</li>
													<li>
														<span class="caret"><a href="#extentMaterialsTech">extentMaterialsTech</a></span>
														<ul class="nested">
															<li>
																<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
															</li>
															<li>
																<span class="ground"><a href="#conceptID">conceptID</a></span>
															</li>
															<li>
																<span class="ground"><a href="#term">term</a></span>
															</li>
														</ul>
													</li>
													<li>
														<span class="caret"><a href="#sourceMaterialsTech">sourceMaterialsTech</a></span>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<span class="caret"><a href="#eventWrap">eventWrap</a></span>
						<ul class="nested">
							<li>
								<span class="caret"><a href="#eventSet">eventSet</a></span>
								<ul class="nested">
									<li>
										<span class="ground"><a href="#displayEvent">displayEvent</a></span>
									</li>
									<li>
										<span class="caret"><a href="#event">event</a></span>
										<ul class="nested">
											<li>
												<span class="ground"><a href="#eventID">eventID</a></span>
											</li>
											<li>
												<span class="ground"><a href="https://www.w3.org/TR/owl-ref/#sameAs-def">owl:sameAs</a></span>
											</li>
											<li>
												<span class="caret"><a href="#eventType">eventType</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
													</li>
													<li>
														<span class="ground"><a href="#conceptID">conceptID</a></span>
													</li>
													<li>
														<span class="ground"><a href="#term">term</a></span>
													</li>
												</ul>
											</li>
											<li>
												<span class="caret"><a href="#roleInEvent">roleInEvent</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
													</li>
													<li>
														<span class="ground"><a href="#conceptID">conceptID</a></span>
													</li>
													<li>
														<span class="ground"><a href="#term">term</a></span>
													</li>
												</ul>
											</li>
											<li>
												<span class="caret"><a href="#eventName">eventName</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="#appellationValue">appellationValue</a></span>
													</li>
													<li>
														<span class="ground"><a href="#sourceAppellation">sourceAppellation</a></span>
													</li>
												</ul>
											</li>
											<li>
												<span class="caret"><a href="#eventActor">eventActor</a></span>
												<ul class="nested">
												<li>
													<span class="ground"><a href="#displayActorInRole">displayActorInRole</a></span>
												</li>
												<li>
													<span class="caret"><a href="#actorInRole">actorInRole</a></span>
													<ul class="nested">
														<li>
															<span class="caret"><a href="#actor">actor</a></span>
															<ul class="nested">
																<li>
																	<span class="ground"><a href="#actorID">actorID</a></span>
																</li>
																<li>
																	<span class="caret"><a href="#nameActorSet">nameActorSet</a></span>
																	<ul class="nested">
																		<li>
																			<span class="ground"><a href="#appellationValue">appellationValue</a></span>
																		</li>
																		<li>
																			<span class="ground"><a href="#sourceAppellation">sourceAppellation</a></span>
																		</li>
																	</ul>
																</li>
																<li>
																	<span class="caret"><a href="#nationalityActor">nationalityActor</a></span>
																	<ul class="nested">
																		<li>
																			<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																		</li>
																		<li>
																			<span class="ground"><a href="#conceptID">conceptID</a></span>
																		</li>
																		<li>
																			<span class="ground"><a href="#term">term</a></span>
																		</li>
																	</ul>
																</li>
																<li>
																	<span class="caret"><a href="#vitalDatesActor">vitalDatesActor</a></span>
																	<ul class="nested">
																		<li>
																			<span class="ground"><a href="#earliestDate">earliestDate</a></span>
																		</li>
																		<li>
																			<span class="ground"><a href="#latestDate">latestDate</a></span>
																		</li>
																	</ul>
																</li>
																<li>
																	<span class="caret"><a href="#vitalPlaceActor">vitalPlaceActor</a></span>
																	<ul class="nested">
																		<li>
																			<span class="ground"><a href="#placeID">placeID</a></span>
																		</li>
																		<li>
																			<span class="ground"><a href="https://www.w3.org/TR/owl-ref/#sameAs-def">owl:sameAs</a></span>
																		</li>
																		<li>
																			<span class="caret"><a href="#namePlaceSet">namePlaceSet</a></span>
																			<ul class="nested">
																				<li>
																					<span class="ground"><a href="#appellationValue">appellationValue</a></span>
																				</li>
																				<li>
																					<span class="ground"><a href="#sourceAppellation">sourceAppellation</a></span>
																				</li>
																			</ul>
																		</li>
																		<li>
																			<span class="caret"><a href="#gml">gml</a></span>
																			<ul class="nested">
																				<li>
																					<span class="ground"><a href="http://www.datypic.com/sc/niem21/e-gml_Point.html">gml:Point</a></span>
																				</li>
																				<li>
																					<span class="ground"><a href="http://www.datypic.com/sc/niem21/e-gml_LineString.html">gml:LineString</a></span>
																				</li>
																				<li>
																					<span class="ground"><a href="http://www.datypic.com/sc/niem21/e-gml_Polygon.html">gml:Polygon</a></span>
																				</li>
																			</ul>
																		</li>
																		<li>
																			<span class="caret"><a href="#partOfPlace">partOfPlace</a></span>
																			<ul class="nested">
																				<li>
																					<span class="ground"><a href="#partofPlace">partOfPlace</a></span>
																				</li>
																				<li>
																					<span class="ground">This element is constructed recursive. It can contain itself</span>
																				</li>
																			</ul>
																		</li>
																		<li>
																			<span class="caret"><a href="#placeClassification">placeClassification</a></span>
																			<ul class="nested">
																				<li>
																					<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																				</li>
																				<li>
																					<span class="ground"><a href="#conceptID">conceptID</a></span>
																				</li>
																				<li>
																					<span class="ground"><a href="#term">term</a></span>
																				</li>
																			</ul>
																		</li>
																	</ul>
																</li>
																<li>
																	<span class="caret"><a href="#genderActor">genderActor</a></span>
																	<ul class="nested">
																		<li>
																			<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																		</li>
																		<li>
																			<span class="ground"><a href="#conceptID">conceptID</a></span>
																		</li>
																		<li>
																			<span class="ground"><a href="#term">term</a></span>
																		</li>
																	</ul>
																</li>
															</ul>
														</li>
														<li>
															<span class="caret"><a href="#roleActor">roleActor</a></span>
															<ul class="nested">
																<li>
																	<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																</li>
																<li>
																	<span class="ground"><a href="#conceptID">conceptID</a></span>
																</li>
																<li>
																	<span class="ground"><a href="#term">term</a></span>
																</li>
															</ul>
														</li>
														<li>
															<span class="caret"><a href="#attributionQualifierActor">attributionQualifierActor</a></span>
															<ul class="nested">
																<li>
																	<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																</li>
																<li>
																	<span class="ground"><a href="#conceptID">conceptID</a></span>
																</li>
																<li>
																	<span class="ground"><a href="#term">term</a></span>
																</li>
															</ul>
														</li>
														<li>
															<span class="caret"><a href="#extentActor">extentActor</a></span>
															<ul class="nested">
																<li>
																	<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																</li>
																<li>
																	<span class="ground"><a href="#conceptID">conceptID</a></span>
																</li>
																<li>
																	<span class="ground"><a href="#term">term</a></span>
																</li>
															</ul>
														</li>
														<li>
															<span class="ground"><a href="#sourceActorInRole">sourceActorInRole</a></span>
														</li>
													</ul>
												</li>
												</ul>
											</li>
											<li>
												<span class="caret"><a href="#culture">culture</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
													</li>
													<li>
														<span class="ground"><a href="#conceptID">conceptID</a></span>
													</li>
													<li>
														<span class="ground"><a href="#term">term</a></span>
													</li>
												</ul>
											</li>
											<li>
												<span class="caret"><a href="#eventDate">eventDate</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="#displayDate">displayDate</a></span>
													</li>
													<li>
														<span class="caret"><a href="#date">date</a></span>
														<ul class="nested">
															<li>
																<span class="ground"><a href="#earliestDate">earliestDate</a></span>
															</li>
															<li>
																<span class="ground"><a href="#latestDate">latestDate</a></span>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li>
												<span class="caret"><a href="#periodName">periodName</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
													</li>
													<li>
														<span class="ground"><a href="#conceptID">conceptID</a></span>
													</li>
													<li>
														<span class="ground"><a href="#term">term</a></span>
													</li>
												</ul>
											</li>
											<li>
												<span class="caret"><a href="#eventPlace">eventPlace</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="#displayPlace">displayPlace</a></span>
													</li>
													<li>
														<span class="caret"><a href="#place">place</a></span>
														<ul class="nested">
															<li>
																<span class="caret"><a href="#placeID">placeID</a></span>
															</li>
															<li>
																<span class="ground"><a href="https://www.w3.org/TR/owl-ref/#sameAs-def">owl:sameAs</a></span>
															</li>
															<li>
																<span class="caret"><a href="#namePlaceSet">namePlaceSet</a></span>
																<ul class="nested">
																	<li>
																		<span class="ground"><a href="appellationValue">appellationValue</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="sourceAppellation">sourceAppellation</a></span>
																	</li>
																</ul>
															</li>
															<li>
																<span class="caret"><a href="#gml">gml</a></span>
																<ul class="nested">
																	<li>
																		<span class="ground"><a href="http://www.datypic.com/sc/niem21/e-gml_Point.html">gml:Point</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="http://www.datypic.com/sc/niem21/e-gml_LineString.html">gml:LineString</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="http://www.datypic.com/sc/niem21/e-gml_Polygon.html">gml:Polygon</a></span>
																	</li>
																</ul>
															</li>
															<li>
																<span class="caret"><a href="#partOfPlace">partOfPlace</a></span>
																<ul class="nested">
																	<li>
																		<span class="ground"><a href="#partOfPlace">partOfPlace</a></span>
																	</li>
																	<li>
																		<span class="ground">This element is constructed recursive. It can contain itself</span>
																	</li>
																</ul>
															</li>
															<li>
																<span class="caret"><a href="#placeClassification">placeClassification</a></span>
																<ul class="nested">
																	<li>
																		<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="#conceptID">conceptID</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="#term">term</a></span>
																	</li>
																</ul>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li>
												<span class="caret"><a href="#eventMethod">eventMethod</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
													</li>
													<li>
														<span class="ground"><a href="#conceptID">conceptID</a></span>
													</li>
													<li>
														<span class="ground"><a href="#term">term</a></span>
													</li>
												</ul>
											</li>
											<li>
												<span class="caret"><a href="#eventMaterialsTech">eventMaterialsTech</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="#displayMaterialsTech">displayMaterialsTech</a></span>
													</li>
													<li>
														<span class="caret"><a href="#materialsTech">materialsTech</a></span>
														<ul class="nested">
															<li>
																<span class="caret"><a href="#termMaterialsTech">termMaterialsTech</a></span>
																<ul class="nested">
																	<li>
																		<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="#conceptID">conceptID</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="#term">term</a></span>
																	</li>
																</ul>
															</li>
															<li>
																<span class="caret"><a href="#extentMaterialsTech">extentMaterialsTech</a></span>
																<ul class="nested">
																	<li>
																		<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="#conceptID">conceptID</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="#term">term</a></span>
																	</li>
																</ul>
															</li>
															<li>
																<span class="ground"><a href="#sourceMaterialsTech">sourceMaterialsTech</a></span>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li>
												<span class="caret"><a href="#eventObjectMeasurements">eventObjectMeasurements</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="#displayObjectMeasurements">displayObjectMeasurements</a></span>
													</li>
													<li>
														<span class="caret"><a href="#objectMeasurements">objectMeasurements</a></span>
														<ul class="nested">
															<li>
																<span class="caret"><a href="#measurementsSet">measurementsSet</a></span>
																<ul class="nested">
																	<li>
																		<span class="ground">measurementType</span>
																	</li>
																</ul>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li>
												<span class="caret"><a href="#thingPresent">thingPresent</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="#displayObject">displayObject</a></span>
													</li>
													<li>
														<span class="caret"><a href="#object">object</a></span>
														<ul class="nested">
															<li>
																<span class="ground"><a href="#objectWebResource">objectWebResource</a></span>
															</li>
															<li>
																<span class="ground"><a href="#objectID">objectID</a></span>
															</li>
															<li>
																<span class="ground"><a href="https://www.w3.org/TR/owl-ref/#sameAs-def">owl:sameAs</a></span>
															</li>
															<li>
																<span class="ground"><a href="#objectNote">objectNote</a></span>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li>
												<span class="caret"><a href="#relatedEventSet">relatedEventSet</a></span>
												<ul class="nested">
													<li>
														<span class="caret"><a href="#relatedEventRelType">relatedEventRelType</a></span>
														<ul class="nested">
															<li>
																<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
															</li>
															<li>
																<span class="ground"><a href="#conceptID">conceptID</a></span>
															</li>
															<li>
																<span class="ground"><a href="#term">term</a></span>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li>
												<span class="caret"><a href="#eventDescriptionSet">eventDescriptionSet</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="#descriptiveNoteID">descriptiveNoteID</a></span>
													</li>
													<li>
														<span class="ground"><a href="#descriptiveNoteValue">descriptiveNoteValue</a></span>
													</li>
													<li>
														<span class="ground"><a href="#sourceDescriptiveNote">sourceDescriptiveNote</a></span>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<span class="caret"><a href="#objectRelationWrap">objectRelationWrap</a></span>
						<ul class="nested">
							<li>
								<span class="caret"><a href="#subjectWrap">subjectWrap</a></span>
								<ul class="nested">
									<li>
										<span class="caret"><a href="#subjectSet">subjectSet</a></span>
										<ul class="nested">
											<li>
												<span class="ground"><a href="#displaySubject">displaySubject</a></span>
											</li>
											<li>
												<span class="caret"><a href="#subject">subject</a></span>
												<ul class="nested">
													<li>
														<span class="caret"><a href="#extentSubject">extentSubject</a></span>
														<ul class="nested">
															<li>
																<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
															</li>
															<li>
																<span class="ground"><a href="#conceptID">conceptID</a></span>
															</li>
															<li>
																<span class="ground"><a href="#term">term</a></span>
															</li>
														</ul>
													</li>
													<li>
														<span class="caret"><a href="#subjectConcept">subjectConcept</a></span>
														<ul class="nested">
															<li>
																<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
															</li>
															<li>
																<span class="ground"><a href="#conceptID">conceptID</a></span>
															</li>
															<li>
																<span class="ground"><a href="#term">term</a></span>
															</li>
														</ul>
													</li>
													<li>
														<span class="caret"><a href="#subjectActor">subjectActor</a></span>
														<ul class="nested">
															<li>
																<span class="ground"><a href="#displayActor">displayActor</a></span>
															</li>
															<li>
																<span class="caret"><a href="#actor">actor</a></span>
																<ul class="nested">
																	<li>
																		<span class="ground"><a href="#actorID">actorID</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="https://www.w3.org/TR/owl-ref/#sameAs-def">owl:sameAs</a></span>
																	</li>
																	<li>
																		<span class="caret"><a href="#nameActorSet">nameActorSet</a></span>
																		<ul class="nested">
																			<li>
																				<span class="ground"><a href="#appellationValue">appellationValue</a></span>
																			</li>
																			<li>
																				<span class="ground"><a href="#sourceAppellation">sourceAppellation</a></span>
																			</li>
																		</ul>
																	</li>
																	<li>
																		<span class="caret"><a href="#nationalityActor">nationalityActor</a></span>
																		<ul class="nested">
																			<li>
																				<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																			</li>
																			<li>
																				<span class="ground"><a href="#conceptID">conceptID</a></span>
																			</li>
																			<li>
																				<span class="ground"><a href="#term">term</a></span>
																			</li>
																		</ul>
																	</li>
																	<li>
																		<span class="caret"><a href="#vitalDatesActor">vitalDatesActor</a></span>
																		<ul class="nested">
																			<li>
																				<span class="ground"><a href="#earliestDate">earliestDate</a></span>
																			</li>
																			<li>
																				<span class="ground"><a href="#latestDate">latestDate</a></span>
																			</li>
																		</ul>
																	</li>
																	<li>
																		<span class="caret"><a href="#vitalPlaceActor">vitalPlaceActor</a></span>
																		<ul class="nested">
																			<li>
																				<span class="ground"><a href="placeID">placeID</a></span>
																			</li>
																			<li>
																				<span class="ground"><a href="https://www.w3.org/TR/owl-ref/#sameAs-def">owl:sameAs</a></span>
																			</li>
																			<li>
																				<span class="caret"><a href="#namePlaceSet">namePlaceSet</a></span>
																				<ul class="nested">
																					<li>
																						<span class="ground"><a href="appellationValue">appellationValue</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="sourceAppellation">sourceAppellation</a></span>
																					</li>
																				</ul>
																			</li>
																			<li>
																				<span class="caret"><a href="#gml">gml</a></span>
																				<ul class="nested">
																					<li>
																						<span class="ground"><a href="http://www.datypic.com/sc/niem21/e-gml_Point.html">gml:Point</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="http://www.datypic.com/sc/niem21/e-gml_LineString.html">gml:LineString</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="http://www.datypic.com/sc/niem21/e-gml_Polygon.html">gml:Polygon</a></span>
																					</li>
																				</ul>
																			</li>
																			<li>
																				<span class="caret"><a href="#placeClassification">placeClassification</a></span>
																				<ul class="nested">
																					<li>
																						<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#conceptID">conceptID</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#term">term</a></span>
																					</li>
																				</ul>
																			</li>
																		</ul>
																	</li>
																	<li>
																		<span class="ground"><a href="#genderActor">genderActor</a></span>
																	</li>
																</ul>
															</li>
														</ul>
													</li>
													<li>
														<span class="caret"><a href="#subjectDate">subjectDate</a></span>
														<ul class="nested">
															<li>
																<span class="ground"><a href="#displayDate">displayDate</a></span>
															</li>
															<li>
																<span class="caret"><a href="#date">date</a></span>
																<ul class="nested">
																	<li>
																		<span class="ground"><a href="#earliestDate">earliestDate</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="#latestDate">latestDate</a></span>
																	</li>
																</ul>
															</li>
														</ul>
													</li>
													<li>
														<span class="caret"><a href="#subjectEvent">subjectEvent</a></span>
														<ul class="nested">
															<li>
																<span class="ground"><a href="#displayEvent">displayEvent</a></span>
															</li>
															<li>
																<span class="caret"><a href="#event">event</a></span>
																<ul class="nested">
																	<li>
																		<span class="ground"><a href="#eventID">eventID</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="https://www.w3.org/TR/owl-ref/#sameAs-def">owl:sameAs</a></span>
																	</li>
																	<li>
																		<span class="caret"><a href="#eventType">eventType</a></span>
																		<ul class="nested">
																			<li>
																				<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																			</li>
																			<li>
																				<span class="ground"><a href="#conceptID">conceptID</a></span>
																			</li>
																			<li>
																				<span class="ground"><a href="#term">term</a></span>
																			</li>
																		</ul>
																	</li>
																	<li>
																		<span class="nested"><a href="#roleInEvent">roleInEvent</a></span>
																		<ul class="nested">
																			<li>
																				<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																			</li>
																			<li>
																				<span class="ground"><a href="#conceptID">conceptID</a></span>
																			</li>
																			<li>
																				<span class="ground"><a href="#term">term</a></span>
																			</li>
																		</ul>
																	</li>
																	<li>
																		<span class="caret"><a href="eventName">eventName</a></span>
																		<ul class="nested">
																			<li>
																				<span class="ground"><a href="#appellationValue">appellationValue</a></span>
																			</li>
																			<li>
																				<span class="ground"><a href="#sourceAppellation">sourceAppellation</a></span>
																			</li>
																		</ul>
																	</li>
																	<li>
																		<span class="caret"><a href="#eventActor">eventActor</a></span>
																		<ul class="nested">
																			<li>
																				<span class="ground"><a href="#displayActorInRole">displayActorInRole</a></span>
																			</li>
																			<li>
																				<span class="caret"><a href="#actorInRole">actorInRole</a></span>
																				<ul class="nested">
																					<li>
																						<span class="caret"><a href="#actor">actor</a></span>
																						<ul class="nested">
																							<li>
																								<span class="caret"><a href="#actorID">actorID</a></span>
																							</li>
																							<li>
																								<span class="ground"><a href="https://www.w3.org/TR/owl-ref/#sameAs-def">owl:sameAs</a></span>
																							</li>
																							<li>
																								<span class="caret"><a href="#nameActorSet">nameActorSet</a></span>
																								<ul class="nested">
																									<li>
																										<span class="ground"><a href="appellationValue">appellationValue</a></span>
																									</li>
																									<li>
																										<span class="ground"><a href="sourceAppellation">sourceAppellation</a></span>
																									</li>
																								</ul>
																							</li>
																							<li>
																								<span class="caret"><a href="#nationalityActor">nationalityActor</a></span>
																								<ul class="nested">
																									<li>
																										<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																									</li>
																									<li>
																										<span class="ground"><a href="#conceptID">conceptID</a></span>
																									</li>
																									<li>
																										<span class="ground"><a href="term">term</a></span>
																									</li>
																								</ul>
																							</li>
																						</ul>
																					</li>
																					<li>
																						<span class="caret"><a href="#vitalDatesActor">vitalDatesActor</a></span>
																						<ul class="nested">
																							<li>
																								<span class="ground"><a href="#earliestDate">earliestDate</a></span>
																							</li>
																							<li>
																								<span class="ground"><a href="#latestDate">latestDate</a></span>
																							</li>
																						</ul>
																					</li>
																					<li>
																						<span class="caret"><a href="#vitalPlaceActor">vitalPlaceActor</a></span>
																						<ul class="nested">
																							<li>
																								<span class="ground"><a href="#placeID">placeID</a></span>
																							</li>
																							<li>
																								<span class="ground"><a href="https://www.w3.org/TR/owl-ref/#sameAs-def">owl:sameAs</a></span>
																							</li>
																							<li>
																								<span class="caret"><a href="#namePlaceSet">namePlaceSet</a></span>
																								<ul class="nested">
																									<li>
																										<span class="ground"><a href="#appellationValue">appellationValue</a></span>
																									</li>
																									<li>
																										<span class="ground"><a href="#sourceAppellation">sourceAppellation</a></span>
																									</li>
																								</ul>
																							</li>
																							<li>
																								<span class="caret"><a href="#gml">gml</a></span>
																								<ul class="nested">
																									<li>
																										<span class="ground"><a href="http://www.datypic.com/sc/niem21/e-gml_Point.html">gml:Point</a></span>
																									</li>
																									<li>
																										<span class="ground"><a href="http://www.datypic.com/sc/niem21/e-gml_LineString.html">gml:LineString</a></span>
																									</li>
																									<li>
																										<span class="ground"><a href="http://www.datypic.com/sc/niem21/e-gml_Polygon.html">gml:Polygon</a></span>
																									</li>
																								</ul>
																							</li>
																							<li>
																								<span class="caret"><a href="#placeClassification">placeClassification</a></span>
																								<ul class="nested">
																									<li>
																										<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																									</li>
																									<li>
																										<span class="ground"><a href="#conceptID">conceptID</a></span>
																									</li>
																									<li>
																										<span class="ground"><a href="#term">term</a></span>
																									</li>
																								</ul>
																							</li>
																						</ul>
																					</li>
																					<li>
																						<span class="caret"><a href="#genderActor">genderActor</a></span>
																						<ul class="nested">
																							<li>
																								<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																							</li>
																							<li>
																								<span class="ground"><a href="#conceptID">conceptID</a></span>
																							</li>
																							<li>
																								<span class="ground"><a href="#term">term</a></span>
																							</li>
																						</ul>
																					</li>
																				</ul>
																			</li>
																			<li>
																				<span class="caret"><a href="#roleActor">roleActor</a></span>
																				<ul class="nested">
																					<li>
																						<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#conceptID">conceptID</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#term">term</a></span>
																					</li>
																				</ul>
																			</li>
																			<li>
																				<span class="caret"><a href="#attributionQualifierActor">attributionQualifierActor</a></span>
																				<ul class="nested">
																					<li>
																						<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#conceptID">conceptID</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#term">term</a></span>
																					</li>
																				</ul>
																			</li>
																			<li>
																				<span class="caret"><a href="#extentActor">extentActor</a></span>
																				<ul class="nested">
																					<li>
																						<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#conceptID">conceptID</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#term">term</a></span>
																					</li>
																				</ul>
																			</li>
																		</ul>
																	</li>
																</ul>
															</li>
															<li>
																<span class="caret"><a href="#culture">culture</a></span>
																<ul class="nested">
																	<li>
																		<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="#conceptID">conceptID</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="#term">term</a></span>
																	</li>
																</ul>
															</li>
															<li>
																<span class="caret"><a href="#eventDate">eventDate</a></span>
																<ul class="nested">
																	<li>
																		<span class="ground"><a href="#displayDate">displayDate</a></span>
																	</li>
																	<li>
																		<span class="caret"><a href="#date">date</a></span>
																		<ul class="nested">
																			<li>
																				<span class="ground"><a href="#earliestDate">earliestDate</a></span>
																			</li>
																			<li>
																				<span class="ground"><a href="#latestDate">latestDate</a></span>
																			</li>
																		</ul>
																	</li>
																</ul>
															</li>
															<li>
																<span class="caret"><a href="#periodName">periodName</a></span>
																<ul class="nested">
																	<li>
																		<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="#conceptID">conceptID</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="#term">term</a></span>
																	</li>
																</ul>
															</li>
															<li>
																<span class="caret"><a href="#eventPlace">eventPlace</a></span>
																<ul class="nested">
																	<li>
																		<span class="ground"><a href="#displayPlace">displayPlace</a></span>
																	</li>
																	<li>
																		<span class="caret"><a href="#place">place</a></span>
																		<ul class="nested">
																			<li>
																				<span class="caret"><a href="#placeID">placeID</a></span>
																			</li>
																			<li>
																				<span class="ground"><a href="https://www.w3.org/TR/owl-ref/#sameAs-def">owl:sameAs</a></span>
																			</li>
																			<li>
																				<span class="caret"><a href="#namePlaceSet">namePlaceSet</a></span>
																				<ul class="nested">
																					<li>
																						<span class="ground"><a href="#appellationValue">appellationValue</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#sourceAppellation">sourceAppellation</a></span>
																					</li>
																				</ul>
																			</li>
																			<li>
																				<span class="caret"><a href="#gml">gml</a></span>
																				<ul class="nested">
																					<li>
																						<span class="ground"><a href="http://www.datypic.com/sc/niem21/e-gml_Point.html">gml:Point</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="http://www.datypic.com/sc/niem21/e-gml_LineString.html">gml:LineString</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="http://www.datypic.com/sc/niem21/e-gml_Polygon.html">gml:Polygon</a></span>
																					</li>
																				</ul>
																			</li>
																			<li>
																				<span class="caret"><a href="#placeClassification">placeClassification</a></span>
																				<ul class="nested">
																					<li>
																						<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#conceptID">conceptID</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#term">term</a></span>
																					</li>
																				</ul>
																			</li>
																		</ul>
																	</li>
																</ul>
															</li>
															<li>
																<span class="caret"><a href="#eventMethod">eventMethod</a></span>
																<ul class="nested">
																	<li>
																		<span class="caret"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="#term">term</a></span>
																	</li>
																</ul>
															</li>
															<li>
																<span class="caret"><a href="#eventMaterialsTech">eventMaterialsTech</a></span>
																<ul class="nested">
																	<li>
																		<span class="ground"><a href="#displayMaterialsTech">displayMaterialsTech</a></span>
																	</li>
																	<li>
																		<span class="caret"><a href="#materialsTech">materialsTech</a></span>
																		<ul class="nested">
																			<li>
																				<span class="caret"><a href="#termMaterialsTech">termMaterialsTech</a></span>
																				<ul class="nested">
																					<li>
																						<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#conceptID">conceptID</a></span>
																					</li>
																					<li>
																						<span class="caret"><a href="#term">term</a></span>
																					</li>
																				</ul>
																			</li>
																			<li>
																				<span class="caret"><a href="#extentMaterialsTech">extentMaterialsTech</a></span>
																				<ul class="nested">
																					<li>
																						<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#conceptID">conceptID</a></span>
																					</li>
																					<li>
																						<span class="caret"><a href="#term">term</a></span>
																					</li>
																				</ul>
																			</li>
																			<li>
																				<span class="ground"><a href="#sourceMaterialsTech">sourceMaterialsTech</a></span>
																			</li>
																		</ul>
																	</li>
																</ul>
															</li>
															<li>
																<span class="caret"><a href="#eventObjectMeasurements">eventObjectMeasurements</a></span>
																<ul class="nested">
																	<li>
																		<span class="ground"><a href="#displayObjectMeasurements">displayObjectMeasurements</a></span>
																	</li>
																	<li>
																		<span class="caret"><a href="#objectMeasurements">objectMeasurements</a></span>
																		<ul class="nested">
																			<li>
																				<span class="caret"><a href="#measurementsSet">measurementsSet</a></span>
																				<ul class="nested">
																					<li>
																						<span class="caret"><a href="#measurementType">measurementType</a></span>
																						<ul class="nested">
																							<li>
																								<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																							</li>
																							<li>
																								<span class="ground"><a href="#conceptID">conceptID</a></span>
																							</li>
																							<li>
																								<span class="ground"><a href="#term">term</a></span>
																							</li>
																						</ul>
																					</li>
																					<li>
																						<span class="caret"><a href="#measurementUnit">measurementUnit</a></span>
																						<ul class="nested">
																							<li>
																								<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																							</li>
																							<li>
																								<span class="ground"><a href="#conceptID">conceptID</a></span>
																							</li>
																							<li>
																								<span class="ground"><a href="#term">term</a></span>
																							</li>
																						</ul>
																					</li>
																					<li>
																						<span class="ground"><a href="#measurementValue">measurementValue</a></span>
																					</li>
																				</ul>
																			</li>
																			<li>
																				<span class="caret"><a href="extentMeasurements">extentMeasurements</a></span>
																				<ul class="nested">
																					<li>
																						<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#conceptID">conceptID</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#term">term</a></span>
																					</li>
																				</ul>
																			</li>
																			<li>
																				<span class="caret"><a href="qualifierMeasurements">qualifierMeasurements</a></span>
																				<ul class="nested">
																					<li>
																						<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#conceptID">conceptID</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#term">term</a></span>
																					</li>
																				</ul>
																			</li>
																			<li>
																				<span class="caret"><a href="formatMeasurements">formatMeasurements</a></span>
																				<ul class="nested">
																					<li>
																						<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#conceptID">conceptID</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#term">term</a></span>
																					</li>
																				</ul>
																			</li>
																			<li>
																				<span class="caret"><a href="shapeMeasurements">shapeMeasurements</a></span>
																				<ul class="nested">
																					<li>
																						<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#conceptID">conceptID</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#term">term</a></span>
																					</li>
																				</ul>
																			</li>
																			<li>
																				<span class="caret"><a href="scaleMeasurements">scaleMeasurements</a></span>
																				<ul class="nested">
																					<li>
																						<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#conceptID">conceptID</a></span>
																					</li>
																					<li>
																						<span class="ground"><a href="#term">term</a></span>
																					</li>
																				</ul>
																			</li>
																		</ul>
																	</li>
																</ul>
															</li>
															<li>
																<span class="caret"><a href="#thingPresent">thingPresent</a></span>
																<ul class="nested">
																	<li>
																		<span class="ground"><a href="#displayObject">displayObject</a></span>
																	</li>
																	<li>
																		<span class="caret"><a href="#object">object</a></span>
																		<ul class="nested">
																			<li>
																				<span class="ground"><a href="#objectWebResource">objectWebResource</a></span>
																			</li>
																			<li>
																				<span class="ground"><a href="#objectID">objectID</a></span>
																			</li>
																			<li>
																				<span class="ground"><a href="https://www.w3.org/TR/owl-ref/#sameAs-def">owl:sameAs</a></span>
																			</li>
																			<li>
																				<span class="ground"><a href="#objectNote">objectNote</a></span>
																			</li>
																		</ul>
																	</li>
																</ul>
															</li>
															<li>
																<span class="caret"><a href="#relatedEventSet">relatedEventSet</a></span>
																<ul class="nested">
																	<li>
																		<span class="caret"><a href="#relatedEventRelType">relatedEventRelType</a></span>
																		<ul class="nested">
																			<li>
																				<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																			</li>
																			<li>
																				<span class="ground"><a href="#conceptID">conceptID</a></span>
																			</li>
																			<li>
																				<span class="ground"><a href="#term">term</a></span>
																			</li>
																		</ul>
																	</li>
																</ul>
															</li>
															<li>
																<span class="caret"><a href="#eventDescriptionSet">eventDescriptionSet</a></span>
																<ul class="nested">
																	<li>
																		<span class="ground"><a href="descriptiveNoteID">descriptiveNoteID</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="descriptiveNoteValue">descriptiveNoteValue</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="sourceDescriptiveNote">sourceDescriptiveNote</a></span>
																	</li>
																</ul>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li>
												<span class="caret"><a href="subjectPlace">subjectPlace</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="#displayPlace">displayPlace</a></span>
													</li>
													<li>
														<span class="caret"><a href="#place">place</a></span>
														<ul class="nested">
															<li>
																<span class="ground"><a href="#placeID">placeID</a></span>
															</li>
															<li>
																<span class="ground"><a href="https://www.w3.org/TR/owl-ref/#sameAs-def">owl:sameAs</a></span>
															</li>
															<li>
																<span class="caret"><a href="#namePlaceSet">namePlaceSet</a></span>
																<ul class="nested">
																	<li>
																		<span class="ground"><a href="#appellationValue">appellationValue</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="#sourceAppellation">sourceAppellation</a></span>
																	</li>
																</ul>
															</li>
															<li>
																<span class="caret"><a href="#gml">gml</a></span>
																<ul class="nested">
																	<li>
																		<span class="ground"><a href=" http://www.datypic.com/sc/niem21/e-gml_Point.html">gml:Point</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="http://www.datypic.com/sc/niem21/e-gml_LineString.html">gml:LineString</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="http://www.datypic.com/sc/niem21/e-gml_Polygon.html">gml:Polygon</a></span>
																	</li>
																</ul>
															</li>
															<li>
																<span class="caret"><a href="#placeClassification">placeClassification</a></span>
																<ul class="nested">
																	<li>
																		<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="#conceptID">conceptID</a></span>
																	</li>
																	<li>
																		<span class="ground"><a href="#term">term</a></span>
																	</li>
																</ul>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li>
												<span class="caret"><a href="#subjectObject">subjectObject</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="#displayObject">displayObject</a></span>
													</li>
													<li>
														<span class="caret"><a href="#object">object</a></span>
														<ul class="nested">
															<li>
																<span class="ground"><a href="#objectWebResource">objectWebResource</a></span>
															</li>
															<li>
																<span class="ground"><a href="#objectID">objectID</a></span>
															</li>
															<li>
																<span class="ground"><a href="https://www.w3.org/TR/owl-ref/#sameAs-def">owl:sameAs</a></span>
															</li>
															<li>
																<span class="ground"><a href="#objectNote">objectNote</a></span>
															</li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<span class="caret"><a href="#relatedWorksWrap">relatedWorksWrap</a></span>
								<ul class="nested">
									<li>
										<span class="caret"><a href="#relatedWorkSet">relatedWorkSet</a></span>
										<ul class="nested">
											<li>
												<span class="ground"><a href="#displayRelatedWork">displayRelatedWork</a></span>
											</li>
											<li>
												<span class="caret"><a href="#relatedWork">relatedWork</a></span>
												<ul class="nested">
													<li>
														<span class="caret"><a href="#displayObject">displayObject</a></span>
													</li>
													<li>
														<span class="caret"><a href="#object">object</a></span>
														<ul class="nested">
															<li>
																<span class="ground"><a href="#objectWebResource">objectWebResource</a></span>
															</li>
															<li>
																<span class="ground"><a href="#objectID">objectID</a></span>
															</li>
															<li>
																<span class="ground"><a href="https://www.w3.org/TR/owl-ref/#sameAs-def">owl:sameAs</a></span>
															</li>
															<li>
																<span class="ground"><a href="#objectNote">objectNote</a></span>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li>
												<span class="caret"><a href="#relatedWorkRelType">relatedWorkRelType</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
													</li>
													<li>
														<span class="ground"><a href="#conceptID">conceptID</a></span>
													</li>
													<li>
														<span class="ground"><a href="#term">term</a></span>
													</li>
												</ul>
											</li>
											<li>
												<span class="ground"><a href="#sourceRelatedWorkSet">sourceRelatedWorkSet</a></span>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<span class="caret"><a href="#administrativeMetadata">administrativeMetadata</a></span>
				<ul class="nested">
					<li>
						<span class="caret"><a href="#rightsWorkWrap">rightsWorkWrap</a></span>
						<ul class="nested">
							<li>
								<span class="caret"><a href="#rightsWorkSet">rightsWorkSet</a></span>
								<ul class="nested">
									<li>
										<span class="caret"><a href="#rightsType">rightsType</a></span>
										<ul class="nested">
											<li>
												<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
											</li>
											<li>
												<span class="ground"><a href="#conceptID">conceptID</a></span>
											</li>
											<li>
												<span class="ground"><a href="#term">term</a></span>
											</li>
										</ul>
									</li>
									<li>
										<span class="caret"><a href="#rightsDate">rightsDate</a></span>
										<ul class="nested">
											<li>
												<span class="ground"><a href="#earliestDate">earliestDate</a></span>
											</li>
											<li>
												<span class="ground"><a href="#latestDate">latestDate</a></span>
											</li>
										</ul>
									</li>
									<li>
										<span class="caret"><a href="#rightsHolder">rightsHolder</a></span>
										<ul class="nested">
											<li>
												<span class="ground"><a href="#legalBodyID">legalBodyID</a></span>
											</li>
											<li>
												<span class="ground"><a href="https://www.w3.org/TR/owl-ref/#sameAs-def">owl:sameAs</a></span>
											</li>
											<li>
												<span class="caret"><a href="#legalBodyName">legalBodyName</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="#appellationValue">appellationValue</a></span>
													</li>
													<li>
														<span class="ground"><a href="#sourceAppellation">sourceAppellation</a></span>
													</li>
												</ul>
											</li>
											<li>
												<span class="ground"><a href="#legalBodyWeblink">legalBodyWeblink</a></span>
											</li>
										</ul>
									</li>
									<li>
										<span class="ground"><a href="#creditLine">creditLine</a></span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<span class="caret"><a href="#recordWrap">recordWrap</a></span>
						<ul class="nested">
							<li>
								<span class="ground"><a href="#recordID">recordID</a></span>
							</li>
							<li>
								<span class="caret"><a href="#recordType">recordType</a></span>
								<ul class="nested">
									<li>
										<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
									</li>
									<li>
										<span class="ground"><a href="#conceptID">conceptID</a></span>
									</li>
									<li>
										<span class="ground"><a href="#term">term</a></span>
									</li>
								</ul>
							</li>
							<li>
								<span class="caret"><a href="#recordSource">recordSource</a></span>
								<ul class="nested">
									<li>
										<span class="ground"><a href="#legalBodyID">legalBodyID</a></span>
									</li>
									<li>
										<span class="ground"><a href="https://www.w3.org/TR/owl-ref/#sameAs-def">owl:sameAs</a></span>
									</li>
									<li>
										<span class="caret"><a href="#legalBodyName">legalBodyName</a></span>
										<ul class="nested">
											<li>
												<span class="ground"><a href="#appellationValue">appellationValue</a></span>
											</li>
											<li>
												<span class="ground"><a href="#sourceAppellation">sourceAppellation</a></span>
											</li>
										</ul>
									</li>
									<li>
										<span class="ground"><a href="#legalBodyWeblink">legalBodyWeblink</a></span>
									</li>
								</ul>
							</li>
							<li>
								<span class="caret"><a href="#recordRights">recordRights</a></span>
								<ul class="nested">
									<li>
										<span class="caret"><a href="#rightsType">rightsType</a></span>
										<ul class="nested">
											<li>
												<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
											</li>
											<li>
												<span class="ground"><a href="#conceptID">conceptID</a></span>
											</li>
											<li>
												<span class="ground"><a href="#term">term</a></span>
											</li>
										</ul>
									</li>
									<li>
										<span class="caret"><a href="#rightDate">rightsDate</a></span>
										<ul class="nested">
											<li>
												<span class="ground"><a href="#earliestDate">earliestDate</a></span>
											</li>
											<li>
												<span class="ground"><a href="#latestDate">latestDate</a></span>
											</li>
										</ul>
									</li>
									<li>
										<span class="caret"><a href="#rightsHolder">rightsHolder</a></span>
										<ul class="nested">
											<li>
												<span class="ground"><a href="#legalBodyID">legalBodyID</a></span>
											</li>
											<li>
												<span class="ground"><a href="https://www.w3.org/TR/owl-ref/#sameAs-def">owl:sameAs</a></span>
											</li>
											<li>
												<span class="caret"><a href="#legalBodyName">legalBodyName</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="#appellationValue">appellationValue</a></span>
													</li>
													<li>
														<span class="ground"><a href="#sourceAppellation">sourceAppellation</a></span>
													</li>
												</ul>
											</li>
											<li>
												<span class="ground"><a href="#legalBodyWeblink">legalBodyWeblink</a></span>
											</li>
										</ul>
									</li>
									<li>
										<span class="ground"><a href="#creditLine">creditLine</a></span>
									</li>
								</ul>
							</li>
							<li>
								<span class="caret"><a href="#recordInfoSet">recordInfoSet</a></span>
								<ul class="nested">
									<li>
										<span class="ground"><a href="#recordInfoID">recordInfoID</a></span>
									</li>
									<li>
										<span class="ground"><a href="#recordInfoLink">recordInfoLink</a></span>
									</li>
									<li>
										<span class="ground"><a href="#recordMetadataDate">recordMetadataDate</a></span>
									</li>
								</ul>
							</li>
							<li>
								<span class="caret"><a href="#collection">collection</a></span>
								<ul class="nested">
									<li>
										<span class="ground"><a href="#displayObject">displayObject</a></span>
									</li>
									<li>
										<span class="ground"><a href="#object">object</a></span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<span class="caret"><a href="#resourceWrap">resourceWrap</a></span>
						<ul class="nested">
							<li>
								<span class="caret"><a href="#resourceSet">resourceSet</a></span>
								<ul class="nested">
									<li>
										<span class="ground"><a href="#resourceID">resourceID</a></span>
									</li>
									<li>
										<span class="caret"><a href="#resourceRepresentation">resourceRepresentation</a></span>
										<ul class="nested">
											<li>
												<span class="ground"><a href="#linkResource">linkResource</a></span>
											</li>
											<li>
												<span class="caret"><a href="#resourceMeasurementsSet">resourceMeasurementsSet</a></span>
												<ul class="nested">
													<li>
														<span class="caret"><a href="#measurementType">measurementType</a></span>
														<ul class="nested">
															<li>
																<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
															</li>
															<li>
																<span class="ground"><a href="#conceptID">conceptID</a></span>
															</li>
															<li>
																<span class="ground"><a href="#term">term</a></span>
															</li>
														</ul>
													</li>
													<li>
														<span class="caret"><a href="#measurementUnit">measurementUnit</a></span>
														<ul class="nested">
															<li>
																<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
															</li>
															<li>
																<span class="ground"><a href="#conceptID">conceptID</a></span>
															</li>
															<li>
																<span class="ground"><a href="#term">term</a></span>
															</li>
														</ul>
													</li>
													<li>
														<span class="ground"><a href="#measurementvalue">measurementValue</a></span>
													</li>
												</ul>
											</li>
										</ul>
									</li>
									<li>
										<span class="caret"><a href="#resourceType">resourceType</a></span>
										<ul class="nested">
											<li>
												<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
											</li>
											<li>
												<span class="ground"><a href="#conceptID">conceptID</a></span>
											</li>
											<li>
												<span class="ground"><a href="#term">term</a></span>
											</li>
										</ul>
									</li>
									<li>
										<span class="caret"><a href="#resourceRelType">resourceRelType</a></span>
										<ul class="nested">
											<li>
												<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
											</li>
											<li>
												<span class="ground"><a href="#conceptID">conceptID</a></span>
											</li>
											<li>
												<span class="ground"><a href="#term">term</a></span>
											</li>
										</ul>
									</li>
									<li>
										<span class="caret"><a href="#resourcePerspective">resourcePerspective</a></span>
										<ul class="nested">
											<li>
												<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
											</li>
											<li>
												<span class="ground"><a href="#conceptID">conceptID</a></span>
											</li>
											<li>
												<span class="ground"><a href="#term">term</a></span>
											</li>
										</ul>
									</li>
									<li>
										<span class="ground"><a href="#resourceDescription">resourceDescription</a></span>
									</li>
									<li>
										<span class="caret"><a href="#resourceDateTaken">resourceDateTaken</a></span>
										<ul class="nested">
											<li>
												<span class="ground"><a href="#displayDate">displayDate</a></span>
											</li>
											<li>
												<span class="caret"><a href="#date">date</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="#earliestDate">earliestDate</a></span>
													</li>
													<li>
														<span class="ground"><a href="#latestDate">latestDate</a></span>
													</li>
												</ul>
											</li>
										</ul>
									</li>
									<li>
										<span class="caret"><a href="#resourceSource">resourceSource</a></span>
										<ul class="nested">
											<li>
												<span class="ground"><a href="#legalBodyID">legalBodyID</a></span>
											</li>
											<li>
												<span class="ground"><a href="https://www.w3.org/TR/owl-ref/#sameAs-def">owl:sameAs</a></span>
											</li>
											<li>
												<span class="caret"><a href="#legalBodyName">legalBodyName</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="#appellationValue">appellationValue</a></span>
													</li>
													<li>
														<span class="ground"><a href="#sourceAppellation">sourceAppellation</a></span>
													</li>
												</ul>
											</li>
											<li>
												<span class="ground"><a href="#legalBodyWeblink">legalBodyWeblink</a></span>
											</li>
										</ul>
									</li>
									<li>
										<span class="caret"><a href="#rightsResource">rightsResource</a></span>
										<ul class="nested">
											<li>
												<span class="caret"><a href="#rightsType">rightsType</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="https://www.w3.org/2009/08/skos-reference/skos.html">skos:Concept</a></span>
													</li>
													<li>
														<span class="ground"><a href="#conceptID">conceptID</a></span>
													</li>
													<li>
														<span class="ground"><a href="#term">term</a></span>
													</li>
												</ul>
											</li>
											<li>
												<span class="caret"><a href="#rightsDate">rightsDate</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="#earliestDate">earliestDate</a></span>
													</li>
													<li>
														<span class="ground"><a href="#latestDate">latestDate</a></span>
													</li>
												</ul>
											</li>
											<li>
												<span class="caret"><a href="#rightsHolder">rightsHolder</a></span>
												<ul class="nested">
													<li>
														<span class="ground"><a href="#legalBodyID">legalBodyID</a></span>
													</li>
													<li>
														<span class="caret"><a href="#legalBodyName">legalBodyName</a></span>
														<ul class="nested">
															<li>
																<span class="ground"><a href="#appellationValue">appellationValue</a></span>
															</li>
															<li>
																<span class="ground"><a href="#sourceAppellation">sourceAppellation</a></span>
															</li>
														</ul>
													</li>
													<li>
														<span class="ground"><a href="#legalBodyWeblink">legalBodyWeblink</a></span>
													</li>
												</ul>
											</li>
											<li>
												<span class="ground"><a href="#creditLine">creditLine</a></span>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<script>
		var toggler = document.getElementsByClassName("caret");
		var i;
		for (i = 0; i != toggler.length; i++) {
			toggler[i].addEventListener("click", function() {
				this.parentElement.querySelector(".nested").classList.toggle("active");
				this.classList.toggle("caret-down");
			});
		};
		function expandAllTreeElements() {
			var elementListExpanded = document.getElementById("lido-tree-view-wrapper").querySelectorAll("ul.nested:not(.active)");
			elementListExpanded.forEach(changeAllTreeElements);
		};
		function collapseAllTreeElements() {
			var elementListExpanded = document.getElementById("lido-tree-view-wrapper").querySelectorAll("ul .active");
			elementListExpanded.forEach(changeAllTreeElements);
		};
		function changeAllTreeElements(item){
			item.classList.toggle("active");
			item.previousElementSibling.classList.toggle("caret-down");
		};
	</script>
</div>
